.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.features {
  /* outras propriedades existentes */
  background-color: #ffcc00; /* Substitua #ffcc00 pela cor desejada */
}